.forminline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.forminline label {
  margin: 5px 10px 5px 0;
}

.forminline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.card {
  display: flex;
  /* justify-content: center; */
  width: 100px;
}
