
body{
  background: linear-gradient(45deg, rgb(117, 5, 102), dodgerblue);
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
}

  .preview{
    display: block;
    /* display: flex; */
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    box-shadow: 2px 16px 32px 0 rgba(255, 255, 255, 0.2);
  }
  

.myheader{
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 32px 64px 0 rgba(255, 255, 255, 0.2);
    max-width: 500px;
    max-height: 700px;
    margin: auto;
    text-align: center;

  }

  .cardtitle{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }

  .inputbox{
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(216, 205, 205);
    border-radius: 4px;
    /* margin-bottom: 10px; */
    margin-top: 10px;
  }

input{
    background-color: transparent;
    border: none;
    padding: 20px;
    color: white;
    font-size: medium;
  }
  

  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 2px 16px 32px 0 rgba(255, 255, 255, 0.2);
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }