
body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: start;
  padding: 20px 36px;
}

/* .nav--logo {
  max-width: 15%;
  max-height: 100%;
  border-radius: 9px;
} */

section {
  padding: 20px;
}

.cardss{
    flex: 1;
    display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonss{
  flex: 1;
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;

}

.buttonss button{
  /* display: flex; */
  justify-content: space-around;
  padding: 10px 20px;
  background-color: rgb(43, 91, 139);
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero--photo {
  max-width: 45%;
  align-self: center;
  border-radius: 300px;
  padding: 2px;
}

.hero--header {
  margin-bottom: 16px;
  align-self: center;
}

.hero--text {
  margin-top: 0;
  align-self: center;
}

.card {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 10px;
  position: relative;
}

.card--image {
  border-radius: 9px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
}

/* .card--stats {
  display: flex;
  flex-direction: row;
}

.description {
  font-size: larger;
} */

.btn {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: rgb(43, 91, 139);
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.card--badge {
  /* position: relative; */
  align-self: center;
  top: 6px;
  left: 6px;
  background-color: rgb(255, 255, 255);
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

/* .card--badge2 {
  position: absolute;
  align-self: stretch;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
} */

/* .btn--offer {
  padding: 10px 20px;
  background-color: rgb(43, 139, 51);
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  cursor: pointer;
} */

.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid ;
  background-color: red;
}