
.body {
  margin: 0;
  background-color: rgb(20, 23, 27);
  min-height: 100vh;
}

.header {
  display: flex;
  background-color: rgb(0, 53, 113);
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  color:white
}

.wallet {
  display: flex;
  margin-left: auto;
}

.hero {
  display: flex;
  padding: 66px 50px;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 30vw;
}

.heroRight {
  color: white;
  padding-left: 90px;
  text-align: center;
}

.heroText {
  font-size: 4rem;
  margin-bottom: 0;
}

.nfts {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.mintNft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20%;
}

.mintNftButton {
  text-align: center;
  border: none;
  outline: none;
  background-color: purple;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  background-color: #5086bd;
  color: #fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.mintNftButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
